# basic
numpy
pandas
scipy
scikit-learn
tqdm

# plotting
matplotlib
seaborn
plotly

# notebooks
jupyterlab
ipywidgets
notebook
jupyterlab-widgets

# ml
torch<2.4.0
torchvision
torchaudio
pyg_lib 
torch_scatter 
torch_sparse 
torch_cluster 
torch_spline_conv
torch_geometric==2.4.0
tensorboard

# pathpy
git+https://github.com/pathpy/pathpyg.git
git+https://github.com/pathpy/pathpy.git